@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary: #ff3434;
    --white: #ffffff;
    --dark-grey: #707070;
    --light-grey: #e4e4e4;
    --grey:#8d8d8d;
}

body{
    color: var(--dark-grey);
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

.logout-button{
    color: var(--dark-grey);
    text-decoration: none;
}

.logout-button:hover{
    color: var(--primary);
}

.req-star{
    color: #ff3434;
}

.primary-color{
    color: var(--primary);
}

.grey-color{
    color: var(--grey);
}

.light-grey-color{
    color: var(--light-grey);
}

.dark-grey{
    color: var(--dark-grey);
}

.primary-button{
    color: var(--white);
    background-color: var(--primary);
    border-radius: 25px;
    padding: 7px 20px !important;
}

.primary-button:hover{
    color: var(--primary);
    background-color: var(--white);
    border-color: var(--primary);
}

.secondary-button{
    color: var(--primary);
    background-color: var(--white);
    border-color: var(--primary);
    border-radius: 25px;
    padding: 7px 15px;
}

.secondary-button:hover{
    color: var(--white);
    background-color: var(--primary);
}

.whatsapp-now-button{
    background-color: #25D366;
    color: var(--white);
    border-radius: 5px;
}

.call-now-button{
    background-color: #34B7F1;
    color: var(--white);
}

/* ========== Nav Bar ========== */
.navbar-brand{
    color: var(--primary) !important;
    font-weight: bold;
}

.nav-item{
    margin-right: 20px;
}

.nav-link:hover{
    color: var(--primary) !important;
}

/* ==========   Home    ========== */
#home-hero-section{
    height: 93vh;
}

.hero-section-svg{
    margin-top: 150px;
}

.main-text{
    text-align: center;
    color: var(--primary);
    font-size: 60px;
    font-weight: 700;
    margin-top: 200px;
}

.tagline-text{
    text-align: center;
    color: var(--dark-grey);
    font-size: 31px;
}

.home-primary-button{
    color: white;
    background-color: var(--primary);
    border-radius: 30px;
    float: right;
    padding: 5px 20px;
    width: 160px;
}

.home-primary-button:hover{
    color: var(--primary);
    background-color: var(--white);
    border-color: var(--primary);
}

.home-secondary-button{
    color: var(--primary);
    background-color:var(--white);
    border-color: var(--primary);
    border-radius: 30px;
    padding: 5px 20px;
    width: 160px;
}

.home-secondary-button:hover{
    color: var(--white);
    background-color: var(--primary);
}

/* ==========  Requests    ========== */
.request-card{
    border-radius: 10px;
}

.request-card .row:not(:first-child){
    margin-top: 10px;
}

.request-card .request-button{
    color: var(--white);
    /* background-color: #2fdd92; */
    background-color: #191919;
    border-radius: 10px;
    border: none;
    padding: 4px 10px;
}

.red-card{
    background-color: #ff4040;
    color: var(--white);
}

.red-card .badge-area{
    padding: 3px 6px;
    color: #ff4040;
    background-color: white;
    border-radius: 5px;
}

.red-card .request-button:hover{
    color: #ff4040;
    background-color: var(--white);
}

.green-card{
    background-color: #2FDD92;
    color: var(--white);
}

.green-card .badge-area{
    padding: 3px 6px;
    color: #2FDD92;
    background-color: white;
    border-radius: 5px;
}

.green-card .request-button:hover{
    color: #2FDD92;
    background-color: var(--white);
}

.yellow-card{
    background-color:#FFFF66;
    color: #191919;
}

.yellow-card .badge-area{
    padding: 3px 6px;
    color: #191919;
    background-color: white;
    border-radius: 5px;
}

.yellow-card .request-button:hover{
    color: #191919;
    background-color: var(--white);
}

.progress{
    background-color: var(--grey);
}
.progress-bar {
    background-color: var(--white);
}

/* Tablets devices */
@media (max-width: 769px) {
    #home-hero-section .row{
     height: auto !important;
    }
 
    .main-text{
         margin-top: 110px !important;
         font-size: 70px;
     }
     .tagline-text{
         font-size: 36px;
     }
 
     .hero-section-svg{
         margin-top: 70px;
     }
 }

/* Mobile devices */
@media (max-width: 575.98px) {
    #home-hero-section .row{
        height: auto !important;
    }

    .main-text{
        margin-top: 70px !important;
        font-size: 40px;
    }
    .tagline-text{
        font-size: 21px;
    }

    .home-primary-button{
        float:none;
        display: flex;
        justify-content: center;
    }

    .home-secondary-button{
        display: flex;
        justify-content: center;
    }

    .hero-section-svg{
        margin-top: 50px;
    }
}

